<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="cordova-plugin-noke-bluetooth"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>NokeBluetooth</name>

    <js-module name="NokeBluetooth" src="www/NokeBluetooth.js">
        <clobbers target="noke" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="NokeBluetooth">
                <param name="ios-package" value="NokeBluetooth" />
            </feature>
        </config-file>
        <source-file src="src/ios/NokeBluetooth.m" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NokeBluetooth">
                <param name="android-package" value="com.clearc2.cordova.nokebluetooth.NokeBluetooth" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
        <source-file src="src/android/NokeBluetooth.java" target-dir="src/cordova-plugin-noke-bluetooth/NokeBluetooth" />
    </platform>
</plugin>
