<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="cordova-plugin-noke-bluetooth"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>NokeBluetooth</name>

    <js-module name="NokeBluetooth" src="www/NokeBluetooth.js">
        <clobbers target="noke" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="NokeBluetooth">
                <param name="ios-package" value="NokeBluetooth" />
            </feature>
        </config-file>
        <header-file src="src/ios/NokeBluetooth.h" />
        <source-file src="src/ios/NokeBluetooth.swift" />
        <framework src="NokeMobileLibrary" type="podspec" spec="~> 0.6.3" />
    </platform>

    <platform name="android">
        <framework custom="true" src="src/android/noke-sdk.gradle" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NokeBluetooth">
                <param name="android-package" value="com.clearc2.cordova.nokebluetooth.NokeBluetooth" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service android:name="com.noke.nokemobilelibrary.NokeDeviceManagerService" android:enabled="true"/>
            <!-- <meta-data android:name="noke-core-api-mobile-key" android:value="eyJhbGciOiJOT0tFX1BSSVZBVEVfU0FOREJPWCIsInR5cCI6IkpXVCJ9.eyJhbGciOiJOT0tFX1BSSVZBVEVfU0FOREJPWCIsImNvbXBhbnlfdXVpZCI6IjdhZWJiOTgyLWU2YTgtNGMyNi04NzUyLWNhODY2ZjMzYzc2YSIsImlzcyI6Im5va2UuY29tIn0.786e0e298707cd68d91fd85f0da3e803d0cb3cd6" /> -->
            <meta-data android:name="noke-core-api-mobile-key" android:value="eyJhbGciOiJOT0tFX01PQklMRV9TQU5EQk9YIiwidHlwIjoiSldUIn0.eyJhbGciOiJOT0tFX01PQklMRV9TQU5EQk9YIiwiY29tcGFueV91dWlkIjoiN2FlYmI5ODItZTZhOC00YzI2LTg3NTItY2E4NjZmMzNjNzZhIiwiaXNzIjoibm9rZS5jb20ifQ.5eb9b38d6c294e238882703fc7b684e0bba4d28c" />
        </config-file>
        <source-file src="src/android/NokeBluetooth.java" target-dir="src/cordova-plugin-noke-bluetooth/NokeBluetooth" />
    </platform>
</plugin>
